{% extends "layout2.html" %}

{% block container %}
{% import "_macros.html" as macros%}

<div class="flex justify-center items-center min-h-screen">
    <a href="index" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row md:max-w-xl w-full hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <div class="flex justify-center items-center w-full md:w-auto">
            <img class="object-cover w-48 h-auto aspect-[3/2] rounded-t-lg md:rounded-none md:rounded-s-lg" src="{{ url_for('static', filename='img/alumnoslogo.jpg') }}" alt="">
        </div>
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ nom }} {{ ape }}</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-white">{{ email }}</p>
        </div>
    </a>
</div>


{% endblock %}